*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 60px;
    width: 100%;
    text-align: right;
}

.header-btn{
    background-color: #4A4A4A;
    padding: 5px;
    text-align: right;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 10px 0px 0px;
}


/* inizio stile main*/
main{
    height: calc(100vh - 120px);
    color: white;

    overflow: scroll;
    padding: 0px 45px;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
}

.user {
    position: relative;
    padding: 5px;
    width: calc(100% / 7);
}

.user img{
    width: 100%;
}

.user .name{
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.4);
}


/* inizio stile footer*/
footer{
    height: 60px;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

li{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

footer i:not(.arrow){
    font-size: 24px;
    padding-bottom: 5px;
}

.share-btn{
    color: green;
}

.end-btn{
    background-color: #444;
    height: 100%;
    padding: 0px 15px;
    color: red;
    border: none;
    cursor: pointer;
}